In [46]:
import streamlit as st
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import numpy as np
url1 = 'https://opendata.cbs.nl/ODataApi/odata/80345eng/TypedDataSet'
url2 = 'https://opendata.cbs.nl/ODataApi/odata/70187eng/TypedDataSet'


headers = {
    "Accept": "application/json"
}

response1 = requests.get(url1, headers=headers)

if response1.status_code == 200:
    data = response1.json()
    records = data.get('value', [])
    
    # Zet lijst van dicts om in DataFrame
    df1 = pd.DataFrame(records)
    
    
else:
    print(f"Fout bij ophalen data: {response1.status_code}")

response2 = requests.get(url2, headers=headers)

if response2.status_code == 200:
    data = response2.json()
    records = data.get('value', [])
    
    # Zet lijst van dicts om in DataFrame
    df2 = pd.DataFrame(records)
    
    
else:
    print(f"Fout bij ophalen data: {response2.status_code}")

df1['Year'] = df1["Periods"].str[:4].astype(int)
df2["Year"] = df2["Periods"].str[:4].astype(int)

cprijs = df1.bfill()
inkomen = df2.bfill()


j1990 = cprijs['Year'] >= 1990
j2000 = cprijs['Year'] <= 2000
cprijs = cprijs[j1990 & j2000]
df = cprijs.merge(inkomen, on = 'Year')
df = df.drop(['ID_x', 'Periods_x', 'ID_y', 'Periods_y','CompositionOfTheHousehold', 'OtherHouseholdCharacteristics' ], axis = 1).drop_duplicates()
df = df.groupby('Year').mean()
df['Year'] = df.index
df.dtypes
df

,Beer_1,Bread_2,Butter_3,Cheese_4,Coffee_5,Eggs_6,Margarine_7,Milk_8,PorkSteak_9,Potatoes_10,...,StewingSteak_12,Sugar_13,Tea_14,NumberOfHouseholds_1,PersonsPerHousehold_2,PersonsWithAnIncomePerHousehold_3,GrossIncome_4,SpendableIncome_5,StandardisedIncome_6,Year
Year,,,,,,,,,,,,,,,,,,,,,
1990,1.05,1.02,1.11,6.43,2.25,0.11,0.85,0.62,7.51,0.36,...,7.42,0.92,0.68,514.166667,2.935000,1.942500,34.565833,21.163333,13.007500,1990
1991,1.10,1.04,1.10,6.46,2.25,0.11,0.92,0.62,7.52,0.40,...,7.50,0.92,0.68,521.950000,2.935000,1.951667,35.830833,21.748333,13.373333,1991
1992,1.13,1.09,1.12,6.51,2.25,0.11,0.96,0.64,7.81,0.34,...,7.75,0.93,0.69,528.775000,2.934167,1.967500,37.500000,22.426667,13.840833,1992
1993,1.18,1.12,1.09,6.61,2.27,0.12,0.98,0.66,7.51,0.32,...,7.77,0.89,0.70,535.300000,2.920000,1.955000,37.029167,22.298333,13.800000,1993
1994,1.16,1.11,1.06,6.60,3.00,0.12,1.14,0.65,7.40,0.39,...,8.94,0.88,0.69,539.716667,2.921667,1.960000,37.283333,23.063333,14.294167,1994
1995,1.19,1.10,1.04,6.52,3.35,0.11,1.04,0.65,7.33,0.47,...,8.71,0.86,0.70,546.500000,2.905833,1.976667,37.978333,23.939167,14.849167,1995
1996,1.19,1.11,1.03,6.53,2.89,0.13,1.03,0.66,7.47,0.38,...,8.59,0.85,0.69,551.575000,2.912500,1.994167,38.304167,24.249167,15.027500,1996
1997,1.18,1.09,1.05,6.59,3.43,0.13,1.03,0.67,7.99,0.35,...,8.57,0.86,0.73,557.383333,2.905000,2.009167,38.795833,24.975000,15.504167,1997
1998,1.17,1.12,1.09,6.83,3.45,0.11,1.05,0.69,8.06,0.48,...,8.56,0.85,0.78,562.850000,2.900833,2.020000,39.673333,25.536667,15.904167,1998
1999,1.18,1.14,1.08,6.92,3.02,0.11,1.06,0.69,7.82,0.51,...,8.79,0.87,0.77,567.625000,2.885000,2.020833,41.711667,26.557500,16.559167,1999
2000,1.17,1.29,1.09,7.01,6.16,1.40,0.64,0.51,7.63,0.63,...,8.65,0.88,1.02,573.658333,2.888333,2.049167,43.815833,28.140833,17.519167,2000

      ID   Periods  Beer_1  Bread_2  Butter_3  Cheese_4  Coffee_5  Eggs_6  \
0      0  1800JJ00    0.01     0.12      0.09      0.16      0.40    0.01
1      1  1801JJ00    0.02     0.14      0.08      0.18      0.34    0.01
2      2  1802JJ00    0.02     0.13      0.12      0.18      0.25    0.01
3      3  1803JJ00    0.01     0.11      0.11      0.18      0.44    0.01
4      4  1804JJ00    0.02     0.10      0.10      0.18      0.47    0.01
..   ...       ...     ...      ...       ...       ...       ...     ...
214  214  2014JJ00    1.49     1.20      1.33      9.24      9.34    1.84
215  215  2015JJ00    1.48     1.19      1.28      7.19     10.39    1.96
216  216  2016JJ00    1.49     1.17      1.26      6.94      9.51    2.07
217  217  2017JJ00    1.48     1.14      1.69     10.22      9.43    2.24
218  218  2018JJ00    1.48     1.16      2.04     10.98      8.73    2.47

     Margarine_7  Milk_8  PorkSteak_9  Potatoes_10  Rice_11  StewingSteak_12  \
0           0.23    0.03         0.32         0.01     0.19             0.20
1           0.23    0.03         0.32         0.01     0.27             0.20
2           0.23    0.03         0.32         0.01     0.19             0.20
3           0.23    0.03         0.32         0.01     0.20             0.20
4           0.23    0.03         0.32         0.01     0.17             0.20
..           ...     ...          ...          ...      ...              ...
214         0.79    0.80         6.86         0.94     2.24             8.80
215         0.90    0.77         7.00         1.09     2.31             9.50
216         0.91    0.76         7.10         1.24     2.17             9.45
217         0.93    0.90         7.61         1.31     2.10             9.79
218         0.77    0.90         7.26         1.33     2.02             9.32

     Sugar_13  Tea_14  Year
0        0.71    0.20  1800
1        0.64    0.19  1801
2        0.48    0.19  1802
3        0.61    0.19  1803
4        0.64    0.18  1804
..        ...     ...   ...
214      0.99    1.08  2014
215      0.98    1.14  2015
216      0.80    1.19  2016
217      0.67    1.16  2017
218      0.68    1.16  2018

[219 rows x 17 columns]